GEMINI_API_KEY="" 				# Provide a value for GEMINI_API_KEY
BUN_VERSION="" 				# Provide a value for BUN_VERSION
APP_ID="" 				# Provide a value for APP_ID
DISCORD_TOKEN="" 				# Provide a value for DISCORD_TOKEN
PUBLIC_KEY="" 				# Provide a value for PUBLIC_KEY
